doctype html
html
  head
    script(src="https://api-maps.yandex.ru/2.1/?apikey=9b3db5f9-444d-4adb-83c5-a57462d157d7&lang=ru_RU", type="text/javascript")
    link(rel='stylesheet',type="text/css", href='/stylesheets/header.css')
    script(type="text/javascript")
         |var l1=[];
         |var l2=[];
         |var lname=[];
         |var ladr=[];
         if shops != undefined
            each val in shops
             | l1.push(#{val.locationX});
             | l2.push(#{val.locationY});
             | lname.push('#{val.name}');
             | ladr.push('#{val.address}');
         include map.js
    title #{product.name}
  body
    include header.pug
    div()
     h1 #{product.name}
     h4 #{product.description}
    div()
        div( id="map", style="width: 600px; height: 400px")
        div()
            h2 product
            ul
            - var k=0;
            each val in shops
                li= val.name+" "+ val.address+" " +price[k]
                - k++;